<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!id" >Adicionar evento</ion-title>
    <ion-title *ngIf="id">Editar evento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data" min="2020" max="2022"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" placeholder="Selecione">Evento</ion-label>
      <ion-select [(ngModel)]="nome">
        <ion-select-option value="Encontro jovens">Encontro jovens</ion-select-option>
        <ion-select-option value="Festa infantil">Festa Infatil</ion-select-option>
        <ion-select-option value="Culto">Culto</ion-select-option>
        <ion-select-option value="Coral">Coral</ion-select-option>
        <ion-select-option value="Palestra">Palestra</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Capacidade</ion-label>
      <ion-input type=number [(ngModel)]="capacidade"></ion-input> 
    </ion-item>
   
  </ion-list>
  <ion-button *ngIf="!id" color="success"  expand="full" (click)="addEvento()">Adicionar</ion-button>
  <ion-button *ngIf="id" expand="full">Editar</ion-button>


</ion-content>
