<ion-header>
  <ion-toolbar>
    <ion-title>eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
<ion-label>Evento</ion-label> 
<ion-label>Data</ion-label> 
<ion-label>Capacidade</ion-label> 
<ion-label>Part.</ion-label> 
  </ion-item>
  <ion-item *ngFor="let evento of eventos">
    <ion-label>{{evento.nome}}</ion-label> 
    <ion-label>{{evento.data | date:'dd/MMM/yy'}}</ion-label> 
    <ion-label color="success">{{evento.capacidade}}</ion-label> 
    <ion-label color="danger">{{evento.participantes}}</ion-label> 
  </ion-item>
  </ion-list>
</ion-content>
